[submodule "themes/aerial"]
	path = themes/aerial
	url = git@github.com:sethmacleod/aerial.git
[submodule "themes/identity"]
	path = themes/identity
	url = https://github.com/aerohub/hugo-identity-theme
